<% if @funcionarios.any? %>
  <table>
    <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
    </tr>
    </thead>
    <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.cpf %></td>
        <td> <%= link_to 'Ver Detalhes do funcionario', funcionario_detalhes_path(funcionario) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhum funcionário sob sua supervisão.</p>
<% end %>