<%# app/views/funcionarios/_tabela_funcionarios.html.erb %>

<h2>ALOO</h2>

<%= render 'layouts/shared_table',
           collection: @funcionarios, # Passa a coleção de funcionários
           columns: [
             { header: "Nome", attribute: :nome }, # Atributo direto
             { header: "CPF", attribute: :cpf },   # Atributo direto
             { header: "Status CNH", custom_render: Proc.new { |funcionario|
               # Lógica complexa da célula, incluindo o botão Detalhar
               "#{funcionario.get_cnh(funcionario.id)} <br>".html_safe + # Use html_safe para <br>
                 link_to('Detalhar', funcionario_detalhes_path(funcionario), class: 'btn btn-sm btn-success mt-1')
             }
             }
           ],
           empty_message: "Nenhum funcionário sob sua supervisão."
%>