<%# app/views/abastecimentos/_tabela_abastecimentos.html.erb %>
<%# Essa partial agora usa o _shared_table para renderizar a tabela de abastecimentos. %>
<%# Espera uma variável local chamada 'abastecimentos' (ou @abastecimentos no seu controller) %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Registros de Manutenções</h2>
  <%=  botoes_aplicacao(new_manutencao_path, "Nova Manutenção")
  %>
</div>
<%= render 'layouts/shared_table',
           collection: @manutencoes, # A coleção de abastecimentos a ser exibida
           columns: [
             { header: "Veículo", custom_render: Proc.new { |manutencao| placa_modelo(manutencao.veiculo) || "N/A" } },
             { header: "Tipo", custom_render: Proc.new { |manutencao| tipo_manutencao_cor_classe(manutencao.tipo) } },
             { header: "Data Agendada", custom_render: Proc.new { |manutencao|  l(manutencao.data_agendada) } },
             { header: "Custo", custom_render: Proc.new { |manutencao|
               # Combina a data formatada e o botão 'Detalhar' na mesma célula
               "#{ number_to_currency(manutencao.custo, unit: "R$", precision: 2, separator: ",", delimiter: ".") }<br>".html_safe +
                 botoes_aplicacao(manutencao_detalhes_path(manutencao), "Detalhar") +
                 botoes_aplicacao(edit_manutencao_path(manutencao), "Editar")+
                 botoes_aplicacao(manutencao_path(manutencao), "Excluir", :delete)

             }
             }
           ],
           empty_message: "Nenhum abastecimento registrado."
%>