<%# app/views/manutencao/edit.html.erb %>

<div class="container my-4">
  <h1 class="mb-4">Editar Registro de Abastecimento</h1>
  <div class="card p-4 shadow-sm">
    <%= render 'form', manutencao: @manutencao %>
  </div>
</div>