<div class="container my-4">
  <h1 class="mb-4">Novo abastecimento</h1>

  <%# Renderiza o partial _form.html.erb, passando a variável local 'veiculo' %>
  <%= render 'form', abastecimento: @abastecimento %>
</div>
