<div class="col-lg-6 col-md-12 mb-4">
  <div class="card shadow-sm h-100">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Manutencoes</h5>
    </div>
    <div class="card-body">
      <%= render 'manutencao/tabela_links_manutencoes', manutencoes: @manutencoes %>
    </div>
  </div>
</div>