<div class="col-lg-6 col-md-12 mb-4">
  <div class="card shadow-sm h-100">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Motoristas</h5>
    </div>
    <div class="card-body">
      <%= render 'funcionario/tabela_links_funcionarios', funcionarios: @funcionarios %>
    </div>
  </div>
</div>