<h1>Suas responsabilidades</h1>

<%= render 'funcionario/tabela_links_funcionarios', funcionarios: @funcionarios %>
<%= render 'manutencao/tabela_links_manutencoes', manutencoes: @manutencoes %>
<%= render 'frete/tabela_links_fretes', fretes: @fretes %>
<%= render 'abastecimento/tabela_links_abastecimentos', abastecimentos: @abastecimentos %>

<br>

